# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.next/
out/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# prisma
apps/server/prisma/migrations/dev.db*

# misc
*.tsbuildinfo
coverage/
